@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #38785f;
  --primary-alt: #a6db93;
}

:root.light {
  --background: #f7f7f7;
  --background-light: #ffffff;
  --foreground: #171717;
  --border-color: #E5E7EA;
  --error-red: #f75074;
}

:root.dark {
  --background: #171718;
  --background-light: #2b2b2b;
  --foreground: #ededed;
  --border-color: #383b3d;
  --error-red: #f5686a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}
