@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  --background: #f7f7f7;
  --background-light: #ffffff;
  --foreground: #171717;
  --primary: #38785f;
  --primary-alt: #a6db93;
  --border-color: #E5E7EA;
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    --background: #171718;
    --background-light: #202020;
    --foreground: #ededed;
    --border-color: #383b3d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}
